<!-- home-banner.liquid -->

<div class="grid-container">
  <div class="arrow arrow-left">&#10094;</div>
  {% for block in section.blocks %}
    <div class="grid-row slider">
      <div
        class="grid-item">
        {% assign image_data = block.settings.banner_img %}
        {% if image_data != blank %}
          <img
            srcset="{% if image_data.width >= 350 %}
            {{ image_data | image_url: width: 350 }} 350w,{% endif %}
          {% if image_data.width >= 750 %}
            {{ image_data | image_url: width: 750 }} 750w,{% endif %}
          {% if image_data.width >= 1100 %}
            {{ image_data | image_url: width: 1100 }} 1100w,{% endif %}
          {% if image_data.width >= 1500 %}
            {{ image_data | image_url: width: 1500 }} 1500w,{% endif %}
          {% if image_data.width >= 2200 %}
            {{ image_data | image_url: width: 2200 }} 2200w,{% endif %}
          {% if image_data.width >= 3000 %}
            {{ image_data | image_url: width: 3000 }} 3000w,{% endif %}
          {{ image_data | image_url }} {{ image_data.width }}w"
          sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw"
          src="{{ image_data | image_url: width: 2000 }}"
          loading="lazy"
          class="{{ block.settings.looks_image_height }}"
          alt="{{ image_data.alt | escape }}">
        {% endif %}
      </div>
      <div class="grid-item text">
        {% if block.settings.title %}
          <h1>{{ block.settings.title }}</h1>
        {% endif %}
        {% if block.settings.content %}
          <p>{{ block.settings.content }}</p>
        {% endif %}
        {% if block.settings.btn_label %}
          <a class="btn" href="{{ block.settings.btn_link }}">{{ block.settings.btn_label }}</a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
  <div class="arrow arrow-right">&#10095;</div>
  <div class="dots">
    <div class="dot">
      <i class="far fa-dot-circle"></i>
    </div>
    <div class="dot">
      <i class="far fa-circle"></i>
    </div>
    <div class="dot">
      <i class="far fa-circle"></i>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Home Banner",
    "class": "Home Banner",
    "settings": [],
    "blocks": [
      {
        "type": "banner_image",
        "name": "Banner Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "banner_img",
            "label": "Banner Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "text",
            "id": "btn_label",
            "label": "Button Label"
          }, {
            "type": "url",
            "id": "btn_link",
            "label": "Button Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Home Banner"
      }
    ]
  }
{% endschema %}